
<!-- <h1>
  {{ MC.title }}
</h1> -->

<div id="slides">
    <img src="http://www.sarahhamiltonphotography.com/Family-Photography/i-68KW8Fw/6/L/IMG_7099-L.jpg">
    <img src="http://www.sarahhamiltonphotography.com/Portraits/i-Gp7rNkG/4/L/IMG_5386%202-2-L.jpg">
    <img src="http://www.sarahhamiltonphotography.com/Children/i-7Twvxjp/4/L/397A2083%202-L.jpg">
    <img src="http://www.sarahhamiltonphotography.com/Parties/i-wwbvqwH/3/L/IMG_8287-L.jpg">
    <img src="http://www.sarahhamiltonphotography.com/Real-Estate/i-nsN9QfR/2/L/IMG_3412-2-L.jpg">
  </div>
